.container {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    border: 1px solid black;
  }
 
  .topo_superior {
    height: 50px;
    background-color: rgba(61, 56, 56, 0.048);
  }
 
  .lateral_esquerda {
    flex-grow: 1;
    width: 50px;
    background-color: #0000;
  }
 
  .conteudo {
    display: flex;
    flex-grow: 1;
  }
 
  .quadrado1{
    flex-grow: 1;
    margin: 10px;
    background-color: #0000;
  }

